<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>resume</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta charset='UTF-8'/>
    <meta content='Content-type: text/html; charset=UTF-8' name='http-equiv'/>
    <meta content='IE=Edge,chrome=1' http-equiv='X-UA-Compatible'/>
    <meta content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no'
          name='viewport'/>
    <style>
        div {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<div class="container main">

    <h2>이력서</h2>

    <div>
        이름
        <p th:text="${data.writer.name}"/>

        프로필 이미지 경로
        <p th:text="${data.writer.profileImagePath}"/>

        학번
        <p th:text="${data.writer.studentNumber}"/>

        이메일
        <p th:text="${data.writer.email}"/>

        전공
        <p th:text="${data.writer.majorName}"/>

        한 줄 소개
        <p th:text="${data.introduce.heading}"/>

        자기소개
        <p th:text="${data.introduce.introduce}"/>

    </div>

    기술 스택
    <div th:each="skill : ${data.skillSet}">
        <p th:text="${data.skill}"/>
    </div>

    프로젝트
    <div th:each="project : ${data.projectList}">
        <p th:text="${project.name}"/>
        <p th:text="${project.representImagePath}"/>
        <p th:text="${project.startDate}"/>
        <p th:text="${project.endDate}"/>
        <p th:text="${project.description}"/>
        <p th:text="${project.url}"/>
    </div>

    수상경력
    <div th:each="award : ${data.awardList}">
        <p th:text="${award.name}"/>
        <p th:text="${award.awardingInstitution}"/>
        <p th:text="${award.date}"/>
        <p th:text="${award.description}"/>
        <p th:text="${award.url}"/>
    </div>

    자격증
    <div th:each="certificate : ${data.certificateList}">
        <p th:text="${certificate.name}"></p>
        <p th:text="${certificate.issuingInstitution}"></p>
        <p th:text="${certificate.date}"></p>
    </div>

</div>
</body>
</html>